/.metadata
/.recommenders
/RemoteSystemsTempFiles/*.project
/findim-dom/*.classpath
/findim-dom/*.project
/findim-bck/*.classpath
/findim-bck/*.project
/findim-sql/*.project
/findim-sql/*.classpath
/findim-web/*.tern-project
/findim-web/*
/findim-web/*.classpath
/findim-web/*.project
/findim-bck/.settings
/findim-dom/.settings
/findim-ws/*.project
/findim-ws/*
/findim-ws/*.classpath
/findim-ws-tdp/*.tern-project
/findim-ws-tdp/*
/findim-ws-tdp/*.classpath
/findim-ws-tdp/*.project
/findim-bck/target/*
/findim-bck/target/*.jar
/findim-dom/target/*.jar
/findim-dom/target/*
/findim-sql/target/*.jar
/findim-sql/target/*
/findim-web/target
/findim-ws/target
/findim-ws-tdp/target
