html { height: 100%; box-sizing: border-box; overflow-x: hidden; min-height: 100%;position: relative;}
*,*:before,*:after {box-sizing: inherit;}
body { background: #F2F2F2; font-family: arial,tahoma, sans-serif; height: 100%;  }
main { padding-bottom: 40px;}
h1,h2,h3,h4,h5,h6 { color: #094FA4; font-weight: 700;}
.row { margin: 0px; padding-bottom: 0;}
/* Margenes */
.mt{margin-top: 25px;} .mt-2x{margin-top: 50px;}
/* Posiciones */
.img-center { display: block; margin: 0 auto;}
.area-contenidos{ margin-top: 25px; background: white; border-bottom: 2px solid #C6C6C6; padding-bottom: 35px;  padding-top: 25px; border-radius: 20px 20px 0 0; min-height: 400px;  }
.menu-inicio { text-align: center;}
.btn-center{ display:block; margin: 0 auto;}

/*Lists*/
.inline-list{ list-style: none;}
.inline-list li{ height: 40px; float: left; margin: 0; padding: 0;}

/*header - nav*/
#btn_home{ text-indent: -9999px;display: block;width: 320px; height: 85px; background: url("../img/logo-bbva.png") no-repeat; margin-top: 2px;}
.navbar-default-one{ background-color: #fff;border-color: #fff; border-radius:0;}
.navbar-default { background-color: #094FA4;border-color: #0A3A6B; border-radius:0;}
#main-nav>li { margin-left: 10px; border-left: 1px solid #0A406D;}
#main-nav>li>a { color:white; }
#main-nav>li>a:hover { color:#B5E5F9; }
#quick-search{margin-top: -20px; background: white; min-height: 50px; border-bottom: 2px solid #C6C6C6;}
.form-superior{margin-top: 5px; margin-right: 20px;}


/* Cabecera*/
#navControlador { padding-bottom: 25px;margin: 0 25px;}
#navControlador h1{ margin-top: -10px;}
#navControlador hr{ margin-top: -5px;border-color: blue;max-width: 100%;}

/*Tablas*/
#tablaContenido .btn-group {
	font-size: 12px;
}
.anular {
	background: #B7005A;
	border: 1px solid #A00026;
	border-radius: 3px;
}
.anular:hover, .anular:focus, .anular:active {
	background: #A00026 !important;
	border: 1px solid #8B0000 !important;
}
.firma {
	border-bottom: 2px solid #000;
	padding: 10px;
	width: 200px;
	margin-bottom: 10px;
}
.anulacionLogo {
	margin-left: -20px;
}

/*formulario*/
.form-warning{ border-color: #f9e84b;background:#f9e84b;color:#211915;}
.form-warning:focus {border-color: #f5e063;background: #f5e063;box-shadow: none;}
.error {display: block;color: red;}
/*preloader*/
#preloader{ display: block; width: 100%; height: 60px; text-align: center; margin-top: 25px;}
.preload img{ margin-top: 50px;}


/*alertas*/
.alert { margin-top: 25px; padding-bottom: 25px; min-height: 200px;}

.alertaTitulo { text-align: center; font-size: 3em;}
.alertaTexto { text-align: center;font-weight: 700;}

.alert-danger { background:#f7a4af;border-color: #f48497;}
.alert-danger h1 { color: white;}
.alert-danger-text {margin-top:0px !important; min-height: 0px !important;}

.alert-success { background:#54963d;color: white;}
.alert-success h1{ color: white;}
.alert-success-text {margin-top:0px !important; min-height: 0px !important;}
/*
.alert-warning { background:#f7a4af;border-color: #f48497;}
*/
.alert-warning h1 { color: #8a6d3b; text-align: center;}
.alert-warning p { color: #8a6d3b; text-align: center;}
.alert-warning-text {margin-top:0px !important; min-height: 0px !important;}
/*footer*/
.footer { padding-top: 40px; position: relative;right: 0;bottom: 0;left: 0;padding: 1rem;text-align: center;}
.footer-container { display: block;padding-top: 1.5em;margin-top: 2em;}
.footer-divisor {display: block;width: 2px;border-left: 1px solid #ffffff;border-right: 1px solid #dddddd;text-indent: -9999px;height: 40px;}

/*impresion simulacion*/
.footer-text-desc {border-top: 1px solid #FFF !important;padding: 0px !important;}

@media print {
    .no-show-on-print{ display: none; }
    .print-no-shadow {box-shadow: none !important;}
    .print-no-border {
    	border: 0 !important;
    }
}