<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<bean id="urlReniec" class="java.lang.String">
            <constructor-arg value="http://118.180.34.15:9080/WSIntegracionRENIEC/services/WS_PersonaReniec/wsdl/WS_PersonaRENIEC1.wsdl"/>
      </bean>


 <bean id="wS_PersonaReniec_Service"
            class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
            <property name="wsdlDocumentUrl" ref="urlReniec"/>
            <property name="namespaceUri"
                      value="http://pe.grupobbva.com/SIR/service/message"/>
            <property name="serviceName" value="WS_PersonaReniec"/>
            <property name="portName" value="WS_PersonaReniec"/>
            <property name="serviceInterface"
                      value="com.bbva.server.reniec.WS_PersonaReniec"/>
<!--             <property name="customProperties"> -->
<!--               <ref local="jaxwsDefaultTimeOut"/> -->
<!--             </property> -->
            <property name="lookupServiceOnStartup" value="false"/>
      </bean>

</beans>
		
		